<!DOCTYPE html>
<html lang="{{ site.lang }}">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{% if pageTitle %}{{ pageTitle }} - {% endif %}{{ meta.title }}</title>
		<meta name="description" content="{{ meta.description }}" />
		<meta name="keywords" content="{{ meta.keywords }}" />
		<link rel="shortcut icon" href="{{ meta.favicon.default }}" />
		<link rel="apple-touch-icon" href="{{ meta.favicon.appleTouchIcon }}" />
		<meta name="theme-color" content="{{ meta.themeColor }}" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="css/style.min.css" />
	</head>

	<body>
		<div class="page">
			{% include '../partials/header.twig' %}
			<main class="content-wrapper">{% block content %}{% endblock %}</main>
			{% include '../partials/footer.twig' %}
		</div>
		{% include '../partials/search-modal.twig' %}
		<div class="back-to-top" title="Yukarı Çık"><i class="icon icon-chevron-circle-up" aria-hidden="true"></i></div>
		<script src="js/jquery.min.js"></script>
		<script src="js/scripts.min.js"></script>
	</body>
</html>
